.right_interval{
	height:25px;
}
.right_csdkjl_out{
	width: 480px;
	height:555px;
	display: flex;
	justify-content:center;
	align-items:center;
}
.right_title{
	width: 455px;
	height:50px;
	color: #1AE6E6;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
}
.right_csdkjl {
	width:455px;
	height:555px;
	background-image:url('../../img/rightup.png');
	background-repeat:no-repeat;
	background-size: 455px 555px;
	background-position: center center;
}


.right_fcdkjl_out{
	width: 480px;
	height:300px;
	display: flex;
	justify-content:center;
	align-items:center;
}
.right_fcdkjl {
	width:456px;
	height:300px;
	background-image:url('../../img/rightdown.png');
	background-repeat:no-repeat;
	background-size: 456px 300px;
	background-position: center center;
}
